parameters:
	ignoreErrors:
		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 1
			path: plugins/Admin/src/Controller/AdminsController.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 1
			path: plugins/Admin/src/Controller/CategoriesController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: plugins/Admin/src/Controller/CategoriesController.php

		-
			message: '#^Method `render\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>render\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.renderMustBeUsed
			count: 1
			path: plugins/Admin/src/Controller/SettingsController.php

		-
			message: '#^Variable \$setting in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: plugins/Admin/src/Controller/SettingsController.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 5
			path: plugins/Admin/src/Controller/SmileyCodesController.php

		-
			message: '#^Parameter \#1 \$smiley of method Admin\\Controller\\SmileyCodesController\:\:_addEditCommon\(\) expects Cake\\ORM\\Entity, Cake\\Datasource\\EntityInterface given\.$#'
			identifier: argument.type
			count: 2
			path: plugins/Admin/src/Controller/SmileyCodesController.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 4
			path: plugins/Admin/src/Controller/SmiliesController.php

		-
			message: '#^Result of \|\| is always true\.$#'
			identifier: booleanOr.alwaysTrue
			count: 1
			path: plugins/Admin/src/Controller/SmiliesController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: plugins/Admin/src/Controller/SmiliesController.php

		-
			message: '#^Variable \$id in empty\(\) always exists and is always falsy\.$#'
			identifier: empty.variable
			count: 2
			path: plugins/Admin/src/Controller/SmiliesController.php

		-
			message: '#^Variable \$user in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: plugins/Admin/src/Controller/UsersController.php

		-
			message: '#^Parameter \#1 \$settings of class Plugin\\BbcodeParser\\src\\Lib\\Preprocessor constructor expects array, Saito\\Markup\\MarkupSettings\|null given\.$#'
			identifier: argument.type
			count: 1
			path: plugins/BbcodeParser/src/Lib/Markup.php

		-
			message: '#^Parameter \#1 \$Helper of class Plugin\\BbcodeParser\\src\\Lib\\jBBCode\\Visitors\\JbbCodeSmileyVisitor constructor expects App\\View\\Helper\\ParserHelper, Cake\\View\\Helper given\.$#'
			identifier: argument.type
			count: 1
			path: plugins/BbcodeParser/src/Lib/Parser.php

		-
			message: '#^Offset 2 on array\{non\-empty\-list\<string\>, non\-empty\-list\<string\>, non\-empty\-list\<non\-empty\-string\>\} in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.offset
			count: 1
			path: plugins/BbcodeParser/src/Lib/jBBCode/Visitors/JbbCodeAutolinkVisitor.php

		-
			message: '#^Strict comparison using \=\=\= between false and false will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: plugins/BbcodeParser/src/Lib/jBBCode/Visitors/JbbCodeAutolinkVisitor.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: plugins/ImageUploader/src/Lib/UploaderConfig.php

		-
			message: '#^Expression in empty\(\) is not falsy\.$#'
			identifier: empty.expr
			count: 1
			path: plugins/Installer/src/Lib/InstallerState.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 1
			path: plugins/SaitoHelp/src/Controller/SaitoHelpsController.php

		-
			message: '#^Array access to entity Cake\\Datasource\\EntityInterface is not allowed, access as object instead$#'
			identifier: cake.entity.arrayAccess
			count: 4
			path: plugins/Sitemap/src/Lib/SitemapEntries.php

		-
			message: '#^Variable \$entries in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: plugins/Sitemap/src/Lib/SitemapEntries.php

		-
			message: '#^Method `render\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>render\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.renderMustBeUsed
			count: 1
			path: src/Controller/AppController.php

		-
			message: '#^Array access to entity Cake\\Datasource\\EntityInterface is not allowed, access as object instead$#'
			identifier: cake.entity.arrayAccess
			count: 4
			path: src/Controller/Component/AuthUserComponent.php

		-
			message: '#^Method App\\Controller\\Component\\AuthUserComponent\:\:authenticate\(\) should return App\\Model\\Entity\\User\|null but returns Cake\\Datasource\\EntityInterface\.$#'
			identifier: return.type
			count: 1
			path: src/Controller/Component/AuthUserComponent.php

		-
			message: '#^Parameter \#1 \$user of method App\\Controller\\Component\\AuthUserComponent\:\:isAuthorized\(\) expects Saito\\User\\CurrentUser\\CurrentUser, Saito\\User\\CurrentUser\\CurrentUserInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Component/AuthUserComponent.php

		-
			message: '#^Property App\\Controller\\Component\\AuthUserComponent\:\:\$CurrentUser \(Saito\\User\\CurrentUser\\CurrentUserInterface\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/Controller/Component/AuthUserComponent.php

		-
			message: '#^Variable \$cookie in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Controller/Component/AuthUserComponent.php

		-
			message: '#^Parameter \#2 \$callback of function array_reduce expects callable\(array\|float\|int, Cake\\Datasource\\EntityInterface\)\: \(array\|float\|int\), Closure\(mixed, Cake\\ORM\\Entity\)\: \(array\|float\|int\) given\.$#'
			identifier: argument.type
			count: 1
			path: src/Controller/Component/ThreadsComponent.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 2
			path: src/Controller/EntriesController.php

		-
			message: '#^Variable \$posting in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Controller/EntriesController.php

		-
			message: '#^Method `render\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>render\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.renderMustBeUsed
			count: 1
			path: src/Controller/PagesController.php

		-
			message: '#^Method `redirect\(\)` must be used to prevent unreachable code\. Use `return \$this\-\>redirect\(\)` or assign it to a variable\.$#'
			identifier: cake.controller.redirectMustBeUsed
			count: 5
			path: src/Controller/UsersController.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Lib/BaseFunctions.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Lib/Model/Table/AppTable.php

		-
			message: '#^Property App\\Lib\\Model\\Table\\AppTable\:\:\$_SEM \(Saito\\Event\\SaitoEventManager\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/Lib/Model/Table/AppTable.php

		-
			message: '#^Array access to entity Cake\\Datasource\\EntityInterface is not allowed, access as object instead$#'
			identifier: cake.entity.arrayAccess
			count: 11
			path: src/Lib/Saito/Smiley/SmileyLoader.php

		-
			message: '#^Parameter \#1 \$smiley of method Saito\\Smiley\\SmileyLoader\:\:_getType\(\) expects array, Cake\\Datasource\\EntityInterface given\.$#'
			identifier: argument.type
			count: 1
			path: src/Lib/Saito/Smiley/SmileyLoader.php

		-
			message: '#^Result of method PHPUnit\\Framework\\Assert\:\:assertEquals\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: src/Lib/Saito/Test/IntegrationTestCase.php

		-
			message: '#^Use of debug function "debug" is not allowed\. The use in shipped code is discouraged because they can leak sensitive information or clutter output\.$#'
			identifier: cake.debug.debugFuncCallUse
			count: 1
			path: src/Lib/Saito/Test/IntegrationTestCase.php

		-
			message: '#^Cannot unset property Saito\\Test\\Model\\Table\\SaitoTableTestCase\:\:\$Table because it might have hooks in a subclass\.$#'
			identifier: unset.possiblyHookedProperty
			count: 1
			path: src/Lib/Saito/Test/Model/Table/SaitoTableTestCase.php

		-
			message: '#^Result of method PHPUnit\\Framework\\Assert\:\:assertEquals\(\) \(void\) is used\.$#'
			identifier: method.void
			count: 1
			path: src/Lib/Saito/Test/SaitoTestCase.php

		-
			message: '#^Use of debug function "debug" is not allowed\. The use in shipped code is discouraged because they can leak sensitive information or clutter output\.$#'
			identifier: cake.debug.debugFuncCallUse
			count: 1
			path: src/Lib/Saito/Test/SaitoTestCase.php

		-
			message: '#^Variable \$user in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Lib/Saito/User/Blocker/ManualBlocker.php

		-
			message: '#^Variable \$new in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Lib/Saito/User/ReadPostings/ReadPostingsCookie.php

		-
			message: '#^Call to App\\Model\\Table\\EntriesTable\:\:hasMany could not find the class for "Bookmarks"$#'
			identifier: cake.addAssociation.existClass
			count: 1
			path: src/Model/Table/EntriesTable.php

		-
			message: '#^Parameter \#1 \$entry of method App\\Model\\Table\\DraftsTable\:\:deleteDraftForPosting\(\) expects App\\Model\\Entity\\Entry, Cake\\ORM\\Entity given\.$#'
			identifier: argument.type
			count: 1
			path: src/Model/Table/EntriesTable.php

		-
			message: '#^Variable \$new in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Model/Table/EntriesTable.php

		-
			message: '#^Variable \$posting in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Model/Table/EntriesTable.php

		-
			message: '#^Variable \$result in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Model/Table/EntriesTable.php

		-
			message: '#^Variable \$settings in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Model/Table/SettingsTable.php

		-
			message: '#^Dead catch \- PDOException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Model/Table/UserOnlineTable.php

		-
			message: '#^Call to App\\Model\\Table\\UsersTable\:\:hasMany could not find the class for "Bookmarks"$#'
			identifier: cake.addAssociation.existClass
			count: 1
			path: src/Model/Table/UsersTable.php

		-
			message: '#^Variable \$user in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Model/Table/UsersTable.php

		-
			message: '#^Property App\\View\\Helper\\JsDataHelper\:\:\$Notifications \(Saito\\JsData\\Notifications\) in empty\(\) is not falsy\.$#'
			identifier: empty.property
			count: 1
			path: src/View/Helper/JsDataHelper.php
